@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form_section {
    background-color: white;
}

.form_container {
    /* background-color: white; */
    background-color: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 25px;
    gap: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.form_title {
    color: #E7473C;
    text-align: center;
    margin-bottom: -8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn__submit {
    background-color: #E7473C;
    color: white;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    /* width: 50px; */
    text-transform: uppercase;
    font-size: 14px;
    transition: all ease 0.4s;
}

.btn__submit:hover {
    background-color: #bf3a31;
}